node_modules
.git
.gitignore
README.md
.nyc_output
coverage
.nyc_output
Dockerfile
docker-compose.yml
__tests__
__mocks__
.vscode
dist
library/node_modules
library/dist
testbed/node_modules
testbed/.next
testbed/coverage
testbed/.yalc
mahati-designs/.git