
  :root {
    }

  
  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */

  /* -------------------------------------------------------------------------------------------------------- */
  /*  For Multi-Media Card.  */
  /* -------------------------------------------------------------------------------------------------------- */

  /* Multimedia Card Styles */
  .multimedia-card {
    @apply bg-white rounded-xl shadow-xl p-1 mx-auto overflow-hidden;
  }
  .multimedia-card {
    box-shadow: 0 4px 6px -1px #318acec0;
  }
  .multimedia-card:hover {
    box-shadow: 2px 8px 12px 3px #4189c0e7;
  }

  .multimedia-card-dynamic {
    width: var(--card-width, 384px);
    height: var(--card-height, 216px); /* Adjusted to 16:9 aspect ratio */
    left: var(--card-left, 0px);
    top: var(--card-top, 10px);
    min-height: 380px;
    max-height: 490px;
    /* min-width: 200px;
    max-width: 384px; */
  }

  .multimedia-content {
    @apply w-full h-full object-contain;
  }

  .multimedia-caption {
    @apply text-center text-gray-600 text-sm mt-2 break-words;
  }

  .multimedia-control-button {
    @apply w-8 h-8 flex items-center justify-center bg-gray-200 rounded-full hover:bg-gray-300 transition-colors text-center leading-none;
  }

  .multimedia-control-button svg {
    @apply w-4 h-4;
  }

  
  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */

  .table-container {
    @apply overflow-x-auto mt-4;
  }

  .table {
    @apply w-full text-sm text-gray-700 dark:text-gray-200 border-collapse;
  }

  .table-header {
    @apply bg-gray-200 dark:bg-gray-700 text-left font-semibold text-gray-800 dark:text-gray-100 py-3 px-4 border-b-2 border-gray-300 dark:border-gray-600;
  }

  .table-cell {
    /* @apply py-3 px-4 border-b border-gray-200 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors; */
    @apply py-3 px-4 border-b border-gray-200 dark:border-gray-600 transition-colors;
  }

  /* Accordion Styles */
  .accordion-panel {
    /* @apply grid grid-cols-8 gap-2 text-sm; */
    @apply grid grid-cols-8 gap-2 text-sm bg-gray-200 dark:bg-gray-700 p-4;
  }

  .accordion-panel div {
    @apply py-2;
  }

  .accordion-panel strong {
    @apply font-semibold;
  }

  /* Hover Styles */
  .table-cell.hovered-row {
    background-color: #a0e0a082; /* Light green for the row */
  }

  .table-cell.hovered-cell {
    background-color: #ffffff; /* White for the hovered cell */
  }

  /* Animation Support */
  .border-b {
    border-bottom-width: 1px;
  }
  
  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */



  /* -------------------------------------------------------------------------------------------------------- */
  /*  For Card Large size.  */
  /* -------------------------------------------------------------------------------------------------------- */

  /* Help Section Styles */
  .help-container {
    @apply container max-w-7xl mx-auto px-4;
  }

  .help-heading {
    @apply text-2xl font-bold mb-12 text-center;
  }

  .help-grid {
    @apply grid grid-cols-2 md:grid-cols-3 gap-8;
  }

  .help-card {
    @apply bg-gray-100 dark:bg-gray-500 rounded-xl shadow-md p-1 max-w-xs w-full min-w-[200px] min-h-[320px] mx-auto relative flex flex-col;
    
  }

  .help-card:hover {
    box-shadow: 2px 8px 12px 3px #4189c0e7;
  }

  .help-image-container {
    @apply relative w-full aspect-video mb-4 overflow-hidden flex items-center justify-center rounded-sm;
  }

  .help-image {
    @apply max-w-full max-h-full object-contain;
  }

  .help-icon {
    @apply h-5 md:h-10 w-10 text-primary; /* Matches help-image dimensions */
  }

  .help-video {
    @apply object-cover w-full h-full; /* Added for video support */
  }

  .help-title {
    @apply px-1 text-sm/7 font-semibold;
  }

  .help-description {
    @apply px-1 py-1 text-sm/5 text-gray-600 dark:text-gray-300 mb-1;
  }

  .help-tech-container {
    @apply flex flex-wrap gap-2 mb-4;
  }

  .help-tech-keywords {
    @apply px-3 py-1 bg-primary/10 text-primary rounded-full text-sm;
  }

  .help-links {
    @apply flex px-2 mb-4 gap-4 mt-auto;

  }

  .help-link {
    @apply flex items-center mt-2 gap-2 text-sm hover:text-primary transition-colors;
  }

  .help-link-icon {
    @apply flex items-center gap-2 text-sm hover:text-primary transition-colors;
  }

  
  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */




  /* -------------------------------------------------------------------------------------------------------- */
  /*  For Card Small size.  */
  /* -------------------------------------------------------------------------------------------------------- */


  .help-container-small {
    @apply container max-w-7xl mx-auto px-4;
  }

  .help-heading-small {
    @apply text-2xl font-bold mb-12 text-center;
  }

  .help-grid-small {
    @apply grid grid-cols-2 md:grid-cols-4 gap-8;
  }

  .help-card-small {
    @apply bg-gray-100 dark:bg-gray-500 rounded-xl shadow-md p-1 max-w-[14rem] w-full min-w-[140px] min-h-[260px] mx-auto relative flex flex-col;

    
  }

  .help-card-small:hover {
    box-shadow: 2px 8px 12px 3px #4189c0e7;
  }

  .help-image-container-small {
    @apply relative w-full aspect-video mb-4 overflow-hidden flex items-center justify-center rounded-sm;
  }

  .help-image-small {
    @apply max-w-full max-h-full object-contain;
  }

  .help-icon-small {
    @apply h-4 md:h-8 w-8 text-primary;
  }

  .help-video-small {
    @apply object-cover w-full h-full; /* Added for video support */
  }

  .help-title-small {
    @apply px-1 text-xs/6 font-semibold;
  }

  .help-description-small {
    @apply px-1 py-1 text-xs/5 text-gray-600 dark:text-gray-300 mb-1;
  }

  .help-tech-container-small {
    @apply flex flex-wrap gap-2 mb-4;
  }

  .help-tech-keywords-small {
    @apply px-2 py-0.5 bg-primary/10 text-primary rounded-full text-xs;
  }

  .help-links-small {
    @apply flex px-2 mb-4 gap-2 mt-auto;


  }

  .help-link-small {
    @apply flex items-center mt-2 gap-2 text-xs hover:text-primary transition-colors;
  }

  .help-link-icon-small {
    @apply flex items-center gap-2 text-xs hover:text-primary transition-colors;
  }

  
  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */



  /* -------------------------------------------------------------------------------------------------------- */
  /*  For Contact Form.  */
  /* -------------------------------------------------------------------------------------------------------- */

  /* Contact Section Styles */
  .contact-container {
    @apply container max-w-7xl mx-auto py-8;
  }

  .contact-heading {
    @apply text-2xl md:text-3xl font-semibold mb-20 text-center;
  }

  .contact-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-12;
  }

  .contact-info-container {
    @apply bg-gray-100 p-4 rounded-lg shadow-lg dark:bg-gray-600;
    
  }

  .contact-info-items {
    @apply space-y-4;
  }

  .contact-info-item {
    @apply flex items-center gap-4;
  }

  .contact-icon {
    @apply h-6 w-6 text-primary;
  }

  .contact-info-label {
    @apply font-semibold text-sm/5 py-1;
  }

  .contact-info-link {
    @apply text-blue-600/100;
  }

  .contact-form-container {
    @apply p-4 rounded-md shadow-xl dark:bg-gray-600;
    background-color: #a6d2c3c7;
    box-shadow: 2px 8px 12px 3px #4189c0e7;


  }

  .contact-form {
    @apply space-y-6;
  }

  .contact-form-label {
    @apply block text-sm font-medium mb-2;
  }

  .contact-form-input {
    @apply w-full px-4 py-2 rounded-md border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800/100 focus:ring-2 focus:ring-primary focus:border-transparent;
  }

  .contact-form-success {
    @apply text-white text-center;
  }

  .contact-form-error {
    @apply text-red-500 text-center;
  }

  .contact-form-submissin-message {
    @apply text-white;

  }

  .page-btn { 
    @apply inline-flex items-center justify-center w-auto relative px-4 py-2 text-sm font-medium 
    text-white rounded-full
    hover:bg-blue-700 focus:ring-blue-500;
    background-color: #0e86e1;
    ;
  }

  .page-btn-position {
    @apply flex justify-center;
  }

  /* -------------------------------------------------------------------------------------------------------- */
  /*  TILL HERE.  */
  /* -------------------------------------------------------------------------------------------------------- */





/* Side navigation component rules (moved here so they are processed inside @layer components) */
.bg-accent {
  background-color: #135f9b; /* Blue background */
}

.sidebar-container {
  @apply pr-2;
}

.sidebar {
  @apply border-r transition-all duration-300 ease-in-out transform hidden sm:flex h-full;
  /* background-color: #135f9b; */
  background: linear-gradient(to right, #1e73be, #28a97d); /* for gradient */
}

.sidebar-expanded {
  @apply w-[210px];
}

.sidebar-collapsed {
  @apply w-[80px];
}

.sidebar-aside {
  @apply flex h-full flex-col w-full break-words px-2 overflow-x-hidden;
}

.nav-container {
  @apply mt-4 ml-2 flex flex-col space-y-1 py-1;
}

.nav-list {
  @apply flex flex-col space-y-2;
}

.nav-item {
  @apply space-y-1 hover:bg-[#1564a1] rounded-lg;
}

.nav-link {
  @apply h-full relative flex items-center whitespace-nowrap rounded-md text-sm;
}

.nav-link-active {
  @apply font-normal text-sm bg-[#6496bc] shadow-sm text-white dark:bg-[#6496bc] dark:text-white; /* Text white */
}

.nav-link-inactive {
  @apply hover:bg-[#6496bc] hover:text-neutral-700 text-white dark:text-white dark:hover:bg-[#6496bc] dark:hover:text-white; /* Text white */
}

.nav-link-content {
  @apply relative font-normal text-sm py-1.5 px-2 flex flex-row items-center space-x-2 rounded-md duration-500 w-full;
}

.nav-link-content-collapsed {
  @apply relative font-normal text-sm p-2 flex flex-row items-center space-x-2 rounded-md duration-100;
}

.nav-link-subitem {
  @apply pl-4 text-sm;
  background-color: #6496bc;
}

.nav-link-content-text {
  @apply flex-1;
}

.chevron-icon {
  @apply transition-transform duration-200 text-[14px]; /* Enforce 14px size for chevrons */
}

.chevron-open {
  @apply rotate-180;
}

.chevron-closed {
  @apply rotate-0;
}

.submenu-container {
  @apply flex flex-col space-y-1;
}

.subitem-indent {
  @apply ml-2;
}

.bottom-section {
  @apply sticky bottom-5 mt-auto whitespace-nowrap mb-4 transition duration-200 block;
}

.toggle-button-container {
  /* @apply mt-[calc(calc(90vh)-40px)] relative; */
}

.toggle-button {
  @apply absolute top-4 right-[-12px] flex h-6 w-6 items-center justify-center border border-muted-foreground/20 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 bg-accent ease-in-out;
}

.tooltip-content {
  @apply px-3 py-1.5 text-xs;
}

/* New rule to enforce consistent icon size */
.sidebar .nav-link-content svg,
.sidebar .nav-link-content-collapsed svg,
.toggle-button svg {
  @apply w-[14px] h-[14px] text-white; /* Fixed size matching 'sm' (14px) and matching text color */
}
